@using System.Globalization
@model ISP.ViewModels.PlanViewModels.PlanDisplayViewModel
@{
    ViewBag.Title = $"{Model.ServiceTitle} Plans";
}

<div class="row">
    <div class="page-header">
        <div class="pull-left">
            <h2>"@Model.ServiceTitle" plans.</h2>
        </div>
        <div class="pull-right" style="line-height: 73px;">
            @if (Model.PlanViewModels.Any())
            {
                <span>Sort by:</span>
                <a class="btn btn-info" href="@Url.Action("Index", "Plan", new {serviceId = Model.PlanViewModels.First().ServiceId, userName = Model.User.UserName, sortBy = "Title", Asc = true})">Title A-Z</a>
                <a class="btn btn-info" href="@Url.Action("Index", "Plan", new {serviceId = Model.PlanViewModels.First().ServiceId, userName = Model.User.UserName, sortBy = "Title", Asc = false})">Title Z-A</a>
                <a class="btn btn-info" href="@Url.Action("Index", "Plan", new {serviceId = Model.PlanViewModels.First().ServiceId, userName = Model.User.UserName, sortBy = "Cost", Asc = true})">Cost ASC</a>
                <a class="btn btn-info" href="@Url.Action("Index", "Plan", new {serviceId = Model.PlanViewModels.First().ServiceId, userName = Model.User.UserName, sortBy = "Cost", Asc = false})">Cost DESC</a>
            }
        </div>
        <div class="clearfix"></div>
    </div>
    
    @if (!Model.Message.IsEmpty())
    {
        <div class="alert alert-warning" role="alert">@Model.Message</div>
    }
    
    <div class="row">
        @if (Model.PlanSubscribtionsDictionary.Keys.Count > 0)
        {
            if (Model.PlanSubscribtionsDictionary.Values.Any(t => t))
            {
                foreach (var row in Model.PlanSubscribtionsDictionary)
                {

                    if (!row.Value)
                    {
                        <div class="col-md-3 plan-item-wrapper">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="plan-item-title">@row.Key.Title</h3>
                                    <p class="plan-item-description">Cost: <span class="plan-cost">@row.Key.Cost.ToString("C", CultureInfo.GetCultureInfo("en-US"))</span> </p>
                                    @if (row.Key.Features.Any())
                                    {
                                        <p class="plan-item-features">Features:</p>
                                        <ul>
                                            @foreach (var featureViewModel in @row.Key.Features)
                                            {
                                                 if(featureViewModel.IsDeleted)
                                                 {
                                                     continue;
                                                 }
                                                <li>@featureViewModel.Title: @featureViewModel.Description</li>
                                            }
                                        </ul>
                                    }
                                    @using (Html.BeginForm("SubscribeToPlan", "Plan", FormMethod.Post))
                                    {
                                        <input type="hidden" name="UserName" value="@Model.User.UserName" />
                                        <input type="hidden" name="PlanId" value="@row.Key.Id" />
                                        <input type="submit" class="btn btn-primary pull-right" disabled="disabled" value="Activate" />
                                        <div class="clearfix"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3 plan-item-wrapperplan-item-wrapper">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="plan-item-title">@row.Key.Title</h3>
                                    <p class="plan-item-description">Cost: <span class="plan-cost">@row.Key.Cost.ToString("C", CultureInfo.GetCultureInfo("en-US"))</span> </p>
                                    @if (row.Key.Features.Any())
                                    {
                                        <p class="plan-item-features">Features:</p>
                                        <ul>
                                            @foreach (var featureViewModel in @row.Key.Features)
                                            {
                                                <li>@featureViewModel.Title: @featureViewModel.Description</li>
                                            }
                                        </ul>
                                    }
                                   @using (Html.BeginForm("UnsubscribeFromPlan", "Plan", FormMethod.Post))
                                    {
                                        <input type="hidden" name="UserName" value="@Model.User.UserName" />
                                        <input type="hidden" name="PlanId" value="@row.Key.Id" />
                                        if (Model.IsUnsubscribeDisabled)
                                        {
                                            <input type="submit" class="btn btn-primary" disabled="disabled" value="Unsubscribe"/>
                                        }
                                        else
                                        {
                                            <input type="submit" class="btn btn-primary pull-right" value="Unsubscribe" />
                                        }
                                        <div class="clearfix"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                foreach (var row in Model.PlanSubscribtionsDictionary)
                {

                    <div class="col-md-3 plan-item-wrapper">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3 class="plan-item-title">@row.Key.Title</h3>
                                <p class="plan-item-description">Cost: <span class="plan-cost">@row.Key.Cost.ToString("C", CultureInfo.GetCultureInfo("en-US"))</span> </p>
                                @if (row.Key.Features.Any())
                                {
                                    <p class="plan-item-features">Features:</p>
                                    <ul>
                                        @foreach (var featureViewModel in @row.Key.Features)
                                        {
                                            <li>@featureViewModel.Title: @featureViewModel.Description</li>
                                        }
                                    </ul>
                                }
                                @using (Html.BeginForm("SubscribeToPlan", "Plan", FormMethod.Post))
                                {
                                    <input type="hidden" name="UserName" value="@Model.User.UserName" />
                                    <input type="hidden" name="PlanId" value="@row.Key.Id" />
                                    <input type="submit" class="btn btn-primary pull-right" value="Activate" />
                                    <div class="clearfix"></div>
                                }

                            </div>
                        </div>
                    </div>
                }
            }

        }
        else
        {
            <div class="alert alert-danger" role="alert">No plans for this service.</div>
        }
    </div>
</div>





